<!DOCTYPE html>
<html>

<head>
  <title>
    <%= __('app_name')%>
  </title>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img alt="logo" src="/app_icon.png">
        </a>
        <h1>
          <%= __('jumbotron_title')%>
        </h1>
        <p>
          <%= __('jumbotron_sub_title')%>
        </p>
        <a href='https://play.google.com/store/apps/details?id=com.rtg_app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img class="play-store-logo" alt='<%= __('download_google_play_img_alt')%>' src='<%= __('download_google_play_img_url')%>' />
        </a>
      </div>
    </div>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-6 feature-container-img">
          <img alt="<%= __('recipe_list_img_alt')%>" src="/recipe-list.png">
          <img alt="<%= __('recipe_view_img_alt')%>" src="/recipe-view.png">
        </div>
        <div class="col-md-6 feature-container">
          <h3><span class="glyphicon glyphicon-book"></span>
            <%= __('recipes')%>
          </h3>
          <ul>
            <li>
              <%= __('recipes_feature_1')%>
            </li>
            <li>
              <%= __('recipes_feature_2')%>
            </li>
            <li>
              <%= __('recipes_feature_3')%>
            </li>
            <li>
              <%= __('recipes_feature_4')%>
            </li>
            <li>
              <%= __('recipes_feature_5')%>
            </li>
          </ul>
        </div>
      </div>
      <!-- row -->
      <hr>
      <div class="row">
        <div class="col-md-6 feature-container-img">
          <img alt="<%= __('groceries_list_img_alt')%>" src="/groceries-list.png">
          <img alt="<%= __('grocerie_view_img_alt')%>" src="/grocery-view.png">
        </div>
        <div class="col-md-6 feature-container">
          <h3><span class="glyphicon glyphicon-th-list"></span>
            <%= __('groceries')%>
          </h3>
          <ul>
            <li>
              <%= __('groceries_feature_1')%>
            </li>
            <li>
              <%= __('groceries_feature_2')%>
            </li>
            <li>
              <%= __('groceries_feature_3')%>
            </li>
            <li>
              <%= __('groceries_feature_4')%>
            </li>
          </ul>
        </div>
      </div>
    </div>


</body>

<footer class="footer">
  <div class="container">
    <p>
      <strong>
      <%=__('contact')%>: 
      </strong>
      <a href="mailto:dejavite.tech@gmail.com">dejavite.tech@gmail.com</a>
    </p>
    <strong>
    <a href="/privacy">
      <%=__('privacy_policy')%>
    </a>
    </strong>
  </div>
</footer>

</html>